@media all {
    .dashboard{
        max-width: 80%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        background-color: white;
        border-radius: .5em;
    }

    .dashboardTable{
        clear:both;

    }

    .id{
        width:fit-content;
    }
    
    .name{
    }
    
    .address{
    }

    .date{

    }

    .from{

    }

    .to{

    }

    .nrtoru{
        white-space:nowrap;
    }

    .newButton{
        width:100%;
        margin-bottom: 10px;
    }

    .buttons{
        display: flex;
        flex-direction:column;
        margin-left: 5%;
        width:200px;
        clear:both;

    }
}