@media all {
    .Login {
        padding: .1em .1em .1em .1em;
        margin-left:auto;
        margin-right:auto;
        max-width: 320px;
        background-color:white;
        border-radius:.5em;
    }

    .tab-content {
        padding: 10px;
    }

    .error {
        color: #9b1919;
    }

    .nav-tabs .nav-link {
        border-top: 0 solid transparent;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
    }

    #LoginTab {
    }
}